input[type=text], select, input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: purple;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(172, 2, 172);
  }

  input[type=submit]:disabled {
    background-color: rgb(161, 91, 161);
    cursor: not-allowed;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .error {
    color: #D8000C;
    background-color: #FFD2D2;
}